@use "./typography";
@use "../abstracts/variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $site-font;
}

body {
  background: linear-gradient(140deg, #8b5cf6, #4f46e5);
}
